/* Drop-down menu */

header {
    display: flex;
    width: 100%;
    gap: 50px;
}

button {
    background-color: white;
    max-width: 50px;
}

.dropdown-buttons {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    gap: 8px;
    margin-top: 8px;
}

.visible {
    visibility: visible;
}
