* {
  margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Drop-down menu */

header {
  display: flex;
  width: 100%;
  gap: 50px;
  border: 1px solid black;
  align-items: center;
  background-color: #ecc488;
  padding: 12px;
}

button.dropdown {
  background-color: white;
  padding: 8px 32px;
  width: auto;
  text-align: center;
  font-size: 1.2rem;
  background-color: #b667f1;
  color: #ecc488;
  border-radius: 6px;
  border: none;
}

button.menu-button {
  width: 100%;
  background-color: #9c51e0;
}

.dropdown-buttons {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  gap: 8px;
  margin-top: 8px;
}

.visible {
  visibility: visible;
}

/* Main content */

.main-content {
  display: flex;
  height: 1000px;
  background-color: #ecc488;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Slider */

#display {
  display: grid;
  height: 300px;
  width: 600px;
  background-color: #8a39e1;
  align-items: center;
  justify-content: center;
  grid-template-areas: "img";
}

img.arrow {
  height: 50px;
  margin-top: 125px;
  cursor: pointer;
  transition: all 0.2s ease;
}

img.arrow#left-arrow {
  transform: scaleX(-1);
}

img.slide {
  height: 200px;
  width: 500px;
  left: 50%;
  grid-area: img;
  border-radius: 20px;
}

/* Form */

.validation-form-div {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid black;
}

.validation-form-div button {
  justify-self: center;
  width: 80px;
}

.validation-form-div input {
  transition: all 0.8s ease;
}

.validation-form-div input:focus:invalid {
  box-shadow: none;
}
